<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> Epdq test complete</h1>
    </hgroup>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
         <p>Your payment id was <%= @payment_id %></p>
       </div>
     </article>
  </div>
</section>

<% content_for :extra_headers do %>
<meta name="robots" content="noindex, nofollow" />
<% end %>

