<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
     <h1><span>Service</span> <%= @publication.title %></h1>
    </hgroup>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
         <% # =raw @publication.body %>     
         <form class="survey" method="post">
          <fieldset>
          <legend><span>Overall, how did you feel about the service you received today?</span></legend>
          
          <p class="option group">

          <label for="very_happy">
            <input id="very_happy" type="radio" name="happiness"> 
            Very happy
          </label>

          <label for="happy">
            <input id="happy" type="radio" name="happiness"> 
            Happy
          </label>

          <label for="neutral">
            <input id="neutral" type="radio" name="happiness"> 
            Neutral
          </label>

          <label for="unhappy">
            <input id="unhappy" type="radio" name="happiness"> 
            Unhappy
          </label>

           <label for="very_unhappy">
            <input id="very_unhappy" type="radio" name="happiness"> 
            Very unhappy
          </label>

          </p>
          </fieldset>

          <legend><span>How could we improve this service?</span></legend>

          <textarea rows="5"></textarea>
          <p class="hint" aria-live="polite" aria-atomic="false">Please don't include any personal or financial information, for example your National Insurance or credit card numbers.</p>
          <button name="feedback" type="submit" class="button medium">Send feedback</button>

         </form>
       </div>
     </article>
    <%= render 'publication_metadata', :publication => @publication, :api_links => { 'application/json' => publication_api_path(@publication, :edition => @edition) } %>
  </div>
</section>

<div id="related-items"></div>

<% content_for :extra_headers do %>
<meta name="robots" content="noindex, nofollow" />
<% end %>
