@import "_typography";

/* Extend page header for wide format page */
header.page-header div {
  margin-right: 0;
}

.support-contents {
  overflow: hidden;
  *zoom: 1;

  margin: 0;
  padding: 0;
}

.support-container {
  background-color: #fff;
  min-height: 35em;
}

.support-contents div  {
  display: block;

  float: left;

  margin-bottom: 0;
  margin-right: 2.5%;
  width: 48.75%;
}

.support-contents > div:nth-child(2n) {
  margin-right: 0;
}

.support-contents h2 {
  margin-top: 0;
  margin-bottom: 0;
  a{
   text-decoration: none;
  }
}

.inner p {
  padding-bottom: 1.5em;
}

.contact-us ul,
.top-issues ul,
.page-contents ul{
  padding-left: 3.5em;
}

.report-a-problem-container div {
  text-align: left;
}

.report-a-problem {
  border-top: 1px solid #dee0e2;
  margin-top: 2em;
}

.support-form {

  label, input {
      @include core-24;
  }

  input {
    display: block;
    margin: 5px 0 20px;
    width: 400px;
  }
}

