<% content_for :title, "Support using GOV.UK - Support Pages - GOV.UK" %>

<div id="wrapper">
  <section id="content" role="main" class="group support-page">
    <header class="page-header group">
      <hgroup>
        <h1>Help using GOV.UK</h1>
      </hgroup>
    </header>


    <div class="article-container group">
      <article role="article" class="group">
        <div class="inner">
          <p>Find answers to common questions about the GOV.UK website.</p>
          <div class="support-contents">
            <div>
              <h2><a href="/support/about-govuk">About GOV.UK</a></h2>
              <p>Information about the website and the team that built it</p>
            </div>
            <div>
              <h2><a href="/support/cookies">Cookies</a></h2>
              <p>How we use cookies on GOV.UK and each cookie&rsquo;s purpose</p>
            </div>
            <div>
              <h2><a href="/support/browsers">Browsers</a></h2>
              <p>Information about browsers and how to upgrade yours</p>
            </div>
            <div>
              <h2><a href="/support/privacy-policy">Privacy policy</a></h2>
              <p>Details about GOV.UK&rsquo;s approach to users&rsquo; privacy</p>
            </div>
            <div>
              <h2><a href="/support/accessibility">Accessibility</a></h2>
              <p>Includes information about getting started online and help using the internet</p>
            </div>
            <div>
              <h2><a href="/support/terms-conditions">Terms and conditions</a></h2>
              <p>Includes information about use of GOV.UK and our liability</p>
            </div>
          </div>
                  <section id="content" role="main" class="report-a-problem">
            <h2>If you can’t find what you were looking for, help us improve GOV.UK by telling us:</h2>
            <form class="support-form" accept-charset="UTF-8" action="/feedback" method="post">
              <label for="what_doing">
                What you were looking for
                <textarea id="what_doing" name="what_doing" type="text" />
              </label>

              <input type="hidden" id="what_wrong" name="what_wrong" value="broken link (404)" />

              <input type="hidden" name="utf8" value="✓" />
              <button name="commit" type="submit" class="button">Send</button>
            </form>
            </section>
        </div>
      </article>

      <!-- related -->
      <div class="related-positioning">
        <div class="related-container">

          <div class="related" id="related">
            <div class="inner group">

              <h2 id="parent-section">Want to contact us directly?</h2>
              <nav role="navigation" aria-labelledby="parent-section">
                <ul>
                  <li>
                    <a href="/feedback/contact">Contact us</a>
                  </li>
                   <li>
                    <a href="/feedback/foi">Make a Freedom of Information Request</a>
                  </li>
                </ul>
              </nav>
              <a class="return-to-top" href="#content">Return to top &uarr;</a>
           </div>
         </div>

        </div>
      </div>
      <!-- end related -->
    </div>
  </section>
</div>
<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'support-styles' %>
<% end %>

    

